<!DOCTYPE html>
<html lang="en">
  <head>
    <title>All Products</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/products.css">
  </head>
  <body>
    <%- include('includes/header') %>
    <main>
      <h2>Product Admiministration</h2>
      <h3 style="color: white;">Manage Products</h3>
      <div id="addproductdiv">
        <a id="addproductbtn" href="/admin/products/new">Add Product</a>
      </div>
      <section class="products">
        <img id="addprodimg" src="/images/MK2D3.jpeg" alt="Magic pad">
        <h3>Magic Trackpad</h1>
        <div id="detail" class="detailAdmin">
          <a href="/edit">View & Edit</a>
          <form  action="/delete">
            <button id="formDel">Delete</button>
          </form>   
        </div>   
      </section>
    </main>
  </body>
</html>