<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign Up</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/addproductform.css" />
    <script src="scripts/cart-num.js" defer></script>
  </head>
  <body>
    <%- include('includes/header') %>
    <h2>Add new Product</h2>
    <main >
      <form id="mainform" action="/admin/products/new" method="POST" enctype="multipart/form-data">
        <label for="title">Title</label>
        <input type="text" id="title" name="title"  required />
        <label for="image">Image</label>
        <input type="file" id="Image" accept=".jpg,.png" required>
        <label for="Summary">Summary</label>
        <input type="text" id="summary" name="summary" required />
        <label for="price">Price</label>
        <input type="number" id="price" name="price" required />
        <label for="description">Description</label>
        <textarea name="description" id="description"></textarea>
        <button id="confirm-button">Save</button>
        <form action="/admin/products/reset" method="post">
            <button id="resetbtn">Reset</button>
        </form>
      </form>
      
    </main>
  </body>
</html>