<!DOCTYPE html>
<html lang="en">
  <head>
    <title>All Products</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/cart.css" />
  </head>
  <body>
    <header>
      <nav>
        <h1>DPE</h1>
        <ul>
          <li><a href="">Shop</a></li>
          <li>
            <a href="">Cart<span></span></a>
          </li>
          <li><a href="">Orders</a></li>
          <li><a href="">Log in</a></li>
          <li><a href="">Sign up</a></li>
          <li><a id="logout" href="">Log out</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h2>Your Cart</h2>
      <section id="cart">
        <div>
          <h3>Magic Trackpad</h3>
          <p>1000.0 Rs<span>(500.0 Rs)</span></p>
        </div>
        <form action="">
          <input type="number"/>
          <button>Update</button>
        </form>
      </section>
      <section id="total">
        <p>Total:<span>1000.0 Rs</span></p>
        <div>
          <a href="" id="totalbtn">Buy Products</a>
        </div>
      </section>
    </main>
  </body>
</html>
