<!DOCTYPE html>
<html lang="en">
  <head>
    <title>All Products</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/details.css" />
  </head>
  <body>
    <header>
      <nav>
        <h1>DPE</h1>
        <ul>
          <li><a href="">Shop</a></li>
          <li>
            <a href="">Cart<span></span></a>
          </li>
          <li><a href="">Orders</a></li>
          <li><a href="">Log in</a></li>
          <li><a href="">Sign up</a></li>
          <li><a id="logout" href="">Log out</a></li>
        </ul>
      </nav>
    </header>
    <main>
        <section class="products">
            <img src="images/MK2D3.jpeg" alt="Magic pad">
            <div id="detail">
              <h3>Magic Trackpad</h1>
              <p>Rs 500.0</p>
               <a href="">Add to cart</a>
            </div>
        </section>
      <section class="product-details">
        <p>This helps a lot with smoothly navigating around on your system</p>
      </section>
    </main>
  </body>
</html>
