<header>
    <nav>
      <h1>DPE</h1>
      <ul>
        <li><a href="/admin/add-product">Manage Products</a></li>
        <li><a href="/admin/manage-orders">Manage Orders</a></li>
        <li>
            <form id="logoutform" action="/logout" method="POST">
                <button id="logout">Logout</button>    
            </form>
      </ul>
    </nav>
  </header>