<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/login.css">
    <script src="scripts/cart-num.js" defer></script>
</head>
<body>
  <%- include('includes/head') %>
      <main>
        <h2>Login</h2>
        <form action="/login" method="POST">
          <% if(input.message) { %>
           <h2 id="message"><%= input.message %></h1>
          <% } %>
            <label for="email">E-mail</label>
            <input type="email" id="email" name="email" value="<%= input.email %>" required>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" value="<%= input.password %>" required>
            <button id="confirm-button">Login</button>
            <div>
                <a id="createuserbtn" href="/signup" >Create a new user</a>
            </div>
            
        </form>
      </main>
</body>
</html>