<!DOCTYPE html>
<html lang="en">
  <head>
    <title>All Products</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/products.css">
    <script src="scripts/cart-num.js" defer></script>
  </head>
  <body>
    <%- include('includes/head') %>
    <main>
      <h2>All Products</h2>
      <div id="flex">
        <% for (product of productData) { %>
        <section class="products">
          <img src="<%= product.imagePath %>" alt="Magic pad">
          <h3><%= product.title %></h1>
            <div id="detail">
              <a href="<%= product._id %>/details">View Details</a>
            </div>   
        </section>
        <% } %> 
      </div>
    </main>
  </body>
</html>
      